#style-5::-webkit-scrollbar
{
    width: 10px;
}

#style-5::-webkit-scrollbar-thumb
{
    border-radius: 1px;
    /*background-color: rgb(178, 148, 187);*/
    background-color: rgb(129, 162, 190);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    font: 1.25em 'Averia Sans Libre', 'Gloria Hallelujah', 'Indie Flower', Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-left: 13px;
    margin-bottom: 3px;
}

label {
    font: 1em 'Averia Sans Libre', 'Gloria Hallelujah', 'Indie Flower', Helvetica, Arial, sans-serif;
    padding: 0 1%;
}

label.disabled {
    font: 1em 'Averia Sans Libre', 'Gloria Hallelujah', 'Indie Flower', Helvetica, Arial, sans-serif;
    color: #9c9c9c;
    padding: 0 1%;
}
